<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="dependencies">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css" type="text/css" />

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://raw.github.com/morr/jquery.appear/master/jquery.appear.js" type="application/javascript"></script>
    <script th:src="@{/js/jquery.appear.js}" type="application/javascript"></script>
    <script th:src="@{/js/common.js}" type="application/javascript"></script>
</head>
<body>
    <footer th:fragment="navbar">
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Navigare rapida </h3>
                        <ul>
                            <li> <a href="/home"> Acasa </a> </li>
                            <li> <a href="/courses"> Cursuri </a> </li>
                        </ul>
                    </div>


                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © Cours. All right reserved. </p>
                <div class="pull-right">
                    <!--<ul class="nav nav-pills payments">-->
                        <!--<li><i class="fa fa-cc-visa"></i></li>-->
                        <!--<li><i class="fa fa-cc-mastercard"></i></li>-->
                        <!--<li><i class="fa fa-cc-amex"></i></li>-->
                        <!--<li><i class="fa fa-cc-paypal"></i></li>-->
                    <!--</ul>-->
                </div>
            </div>
        </div>
        <!--/.footer-bottom-->
    </footer>
</body>
</html>