<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="dependencies">
	<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />
	<link rel="stylesheet" href="/webjars/fontawesome/4.7.0/css/font-awesome.min.css" type="text/css" />

    <!--<link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>-->
    <!--<script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>-->

    <!--&lt;!&ndash; include summernote css/js&ndash;&gt;-->
    <!--<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet"/>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>-->

    <link rel="stylesheet" href="/css/main.css" type="text/css" />

    <script src="/webjars/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/js/common.js}" type="application/javascript"></script>
</head>
<body>
  <nav class="navbar navbar-default" th:fragment="navbar">
  <form action="/logout" hidden="hidden" id="logoutForm" method="post">
      <input type="submit" id="logoutInput" hidden="hidden"/>
  </form>

  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapsible" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/home}"><i class="fa fa-paper-plane" aria-hidden="true"></i> COURS.RO</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapsible">
      <ul class="nav navbar-nav">
        <li th:classappend="${activeNavButton == 'home'} ? 'active' : ''"><a th:href="@{/home}">Home</a></li>
        <li><a th:href="@{/courses}">Cursuri</a></li>
        <li class="dropdown">
          <a th:classappend="${activeNavButton == 'course'} ? 'active' : ''" href="#" class="dropdown-toggle"
             data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              Cursurile mele
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a th:each="course : ${userCourses}" th:href="@{/courses/__${course.id}__}" th:text="${course.name}"></a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/courses/myCourses">Toate cursurile mele</a></li>
            </ul>
        </li>
      </ul>
      <!-- <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" />
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
      <ul class="nav navbar-nav navbar-right">
      	<li sec:authorize="isAnonymous()">
		  <a th:href="@{/login}"><i class="fa fa-leaf" aria-hidden="true"></i> Login</a>
		</li>
        <li class="dropdown" sec:authorize="isAuthenticated()">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          	<span class="user-brand" th:text="${#strings.substring(account.fullName,0,1)}">U</span>
          	<span th:text="${account.fullName}">Username</span>
          	<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li role="separator" class="divider"></li>
            <li><a href="#" id="logoutHref">LOGOUT</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

</body>
</html>


