<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: dependencies">
</head>
<body>
	<nav th:replace="fragments/header :: navbar"></nav>
<div class="container">
    <h1>Cursuri disponibile</h1 >

    <div class="row row-eq-height course-tile" th:each="course : ${courses}">
        <div class="col-md-4 left-side">
        	<h2 th:text="${course.name}"></h2>
        	<br />
        	<a class="btn btn-warning" th:href="@{/courses/__${course.id}__}">Deschide</a>
        </div>
        <div class="col-md-8 right-side">
            <div class="course-description" th:utext="${course.description}" ></div>
        </div>
    </div>

    <div sec:authorize="hasAuthority('https://api.stormpath.com/v1/groups/46mjLnyZ3isSurwQIPKBng')">
        <a th:href="@{/courses/addCourse}" class="btn btn-primary btn-lg sharp">Adauga curs</a>
    </div>

</div>
<script type="text/javascript">

</script>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>