<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: dependencies">
</head>
<body>
<nav th:replace="fragments/header :: navbar"></nav>
<div class="container content">
	<div class="row">
		<div class="col-md-12 home-presentation">
    		Cours.ro<br/>site de management cursuri
		</div>
	</div>
    <!--<div th:if="${not #strings.listIsEmpty(userCourses)}" class="my-courses">-->
        <!--Cursurile mele-->
    <!--</div>-->
    <!--<div class="row col-md-12">-->
        <!--<div th:each="course : ${userCourses}" class="col-md-6 panel panel-info">-->
            <!--<h2 th:text="${course.name}"></h2>-->
            <!--<a th:if="${not (course.name == 'Nici un curs')}" class="btn btn-success" th:href="@{/courses/__${course.id}__}">Deschide</a>-->
        <!--</div>-->
    <!--</div>-->
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>